<p>contact-form works!</p>
<form #f="ngForm" (ngSubmit)="submits(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
    <div class="form-group">
    <label for="fisrtName">first</label>
    <input required ngModel minlength="3" pattern="banana"  name="fisrtName" #firstName="ngModel" (change)="logx(firstName)" id="fisrtName" type="text" class="form-control" >
    <div class="alert alert-danger" *ngIf="!firstName.valid &&firstName.touched">
        <div *ngIf="firstName.errors.minlength">not 0f length 3</div>
        <div *ngIf="firstName.errors.pattern">pattern does not match</div>
    </div>
</div>
    </div>

<div class="form-group">
    <label for="comment">second</label>
    <textarea ngModel name="comment"id="comment" cols="30" rows="10" class="form-control"></textarea>
</div>
<!-- div.checkbox>label>input[type="check"] -->
<div class="checkbox">
    <label>
        <input type="checkbox"  ngModel name="issubscribed">subscribing
    </label></div> 
    <div class="form-group">
    <label for="contactMetod">contact method</label>
    <select ngModel name="contactMetod" id="contactMetod">
     <!-- <option value=""></option>  use blank option for not setting default-->
        <option  *ngFor="let a of contactMethods" [ngValue]="a">{{a.name}}</option>
     
    </select></div>.form-control
    <!-- <div class="radio">
        <lablel><input  ngModel type="radio" name="contactMetod" value="1"></lablel>
       email    
    </div>
    <div class="radio">
        <lablel><input  ngModel type="radio" name="contactMetod" value="1"></lablel>
       email    
    </div> 
    for dynamic -->
    <div   *ngFor="let a of contactMethods" class="radio">
        <lablel><input  ngModel type="radio" name="contactMetods" [value]="a.id"></lablel>
        {{a.name}}  
    </div>
    <p>
        {{f.value | json}}
    </p>
<button class="btn btn-primary"[disabled]="f.invalid">submit</button>
</form>
