<form [formGroup]="form" (ngSubmit)="login()">
    <div class="alert alert-danger" *ngIf="form.errors">
        invalid FORM</div>
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            formControlName="username"
            id="username" 
            type="text" 
            class="form-control">
            <div *ngIf="username.pending">checking ....</div>
            <div class="alert alert-danger" *ngIf="username.invalid  && username.touched">
                invalid
                <div *ngIf="username.errors.cannotcontainSpace">no space can be there</div>
                <div *ngIf="username.errors.shouldBeUnique">not unique</div>
 
            </div> 
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
        formControlName="password"
            id="password" 
            type="text" 
            class="form-control">
            </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>